.App {
    --header_height: 60px;
}

.hw {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.hwTitle {
    background-color: beige;
    font-family: 'Montserrat';
    font-weight: normal;
}