.friendMessage {
    display: flex;
    margin: 15px;
}
.avatar{
    height: 60px;
    width: 60px;
    border-radius: 40%;
}
.friendImageAndText {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 200px;
    background-color:aliceblue;
}

.friendImageAndText img {

}

.friendText {
    min-width: 120px;
    min-height: 120px;
}

.friendText:after {

}

.friendName {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.friendMessageText {

}

.friendTime {
    align-items: end;
    text-align: right;
    font-size: 12px;
    color: black;
}
