.sendForm {
}

.textarea {
    background-color: #f8f8f8;
}

.button {
    font-size: 10px;
    width: 70px;
    height: 25px;
    background-color: white;
    color: black;
}

.button:hover {

}
.button:active {

}
